<h1>Create an account</h1>
<form id="create_user" action="/create_user" method="POST" placeholder="Ted@example.com">
	<label for="email">Email</label>
	<input type="email" name="user[email]" id="email">
	<label for="password">Password</label>
	<input type="password" name="user[password]" placeholder="******" id="password">
	<label for="matching_password">Re-type Password</label>
	<input type="password" name="matching_password" placeholder="*******" id="matching_password">
	<input type="submit" >
</form>
