<h1>Create a Post</h1>
<form action="/create_post" method="post">
  <input type="text" name="post[title]" placeholder= "title">
  <textarea rows="10" cols "15" name="post[body]" placeholder="stuff..."></textarea>
  <input type="submit">
</form>
