<div class="container">
  <h1>Welcome to Hacker News</h1>
  <p>Today's Top Posts</p>
  <ul>
    <% @posts.each do |post| %>
    <li class="post_title"><%= post.title %></li>
    <li class="post_email"><%= post.users.first.email %></li>
    <% end %>

  </ul>
  <a href='/login'>Login</a>

</div>
