<div class="container">
  <h1>Welcome to Hacker News</h1>
  <form action="/login" method="POST">
  	<input type="email" name="email" placeholder="Email">
  	<input type="password" name="password" placeholder="*******">
  	<input type="submit">
  </form>
</div>
