<div class="container">
  <h1>Welcome to Hacker News</h1>
  <form action="/login" method="POST">
  	<input type="email" name="email">
  	<input type="password" name="password">
  	<input type="submit">
  </form>
</div>
